@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/**
    List of colors
*/
:root {
    --white: #fff;
    --black: #000;
    --light: #adcece;
    --cloud: #ecf0f1;
    --primary: #3498db;
    --d-primary: #2980b9;
    --secondary: #95a5a6;
    --d-secondary: #7f8c8d;
    --third: #34495e;
    --midnight: #2c3e50;
    --success: #2ecc71;
    --d-success: #27ae60;
    --green: #1abc9c;
    --d-green: #16a085;
    --warning: #f1c40f;
    --d-warning: #f39c12;
    --carrot: #e67e22;
    --pumpkin: #d35400;
    --danger: #e74c3c;
    --d-danger: #c0392b;
    --purple: #9b59b6;
    --d-purple: #8e44ad;
}
/**
    End list of color
*/

* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}



/**
    Managing of font size
*/

.fs-10 {
  font-size: 10px;
}

.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: 20px;
}

.fs-25 {
  font-size: 25px;
}

.fs-30 {
  font-size: 30px;
}

/**
    End of Managing size
*/

/**
    Buttons
*/
.btn {
  border: none;
  padding: 5px;
  transition: 0.5s;
  font-weight: 500;
}

.btn-primary {
  border: none;
  background-color: var(--d-primary);
  color: var(--cloud);
}

.btn-primary:hover {
  background-color: var(--primary);
}

.btn-o-primary {
  border: 1px solid var(--primary);
  background: none;
  color: var(--d-primary);
}

.btn-o-primary:hover {
  border: none;
  background-color: var(--d-primary);
  color: white;
}

.btn-success {
  border: none;
  background-color: var(--d-success);
  color: var(--cloud);
}

.btn-success:hover {
  background-color: var(--success);
}

.btn-o-success {
  border: 1px solid var(--d-success);
  background: none;
  color: var(--d-success);
}

.btn-o-success:hover {
  border: none;
  background-color: var(--d-success);
  color: white;
}

.btn-green {
  border: none;
  background-color: var(--d-green);
  color: var(--cloud);
}

.btn-green:hover {
  background-color: var(--green);
}

.btn-o-green {
  border: 1px solid var(--d-green);
  background: none;
  color: var(--d-green);
}

.btn-o-green:hover {
  border: none;
  background-color: var(--d-green);
  color: white;
}

.btn-warning {
  border: none;
  background-color: var(--d-warning);
  color: var(--midnight);
}

.btn-warning:hover {
  background-color: var(--warning);
}

.btn-o-warning {
  border: 1px solid var(--d-warning);
  background: none;
  color: var(--d-warning);
}

.btn-o-warning:hover {
  border: none;
  background-color: var(--d-warning);
  color: white;
}

.btn-danger {
  border: none;
  background-color: var(--d-danger);
  color: var(--cloud);
}

.btn-danger:hover {
  background-color: var(--danger);
}

.btn-o-danger {
  border: 1px solid var(--d-danger);
  background: none;
  color: var(--d-danger);
}

.btn-o-danger:hover {
  border: none;
  background-color: var(--d-danger);
  color: white;
}

.btn-amethyst {
  border: none;
  background-color: var(--d-purple);
  color: var(--cloud);
}

.btn-amethyst:hover {
  background-color: var(--purple);
}

.btn-o-amethyst {
  border: 1px solid var(--d-purple);
  background: none;
  color: var(--d-purple);
}

.btn-o-amethyst:hover {
  border: none;
  background-color: var(--d-purple);
  color: white;
}

.btn-dark {
  border: none;
  background-color: var(--midnight);
  color: var(--cloud);
}

.btn-dark:hover {
  background-color: var(--third);
}

.btn-o-dark {
  border: 1px solid var(--midnight);
  background: none;
  color: var(--midnight);
}

.btn-o-dark:hover {
  border: none;
  background-color: var(--midnight);
  color: white;
}

.btn-secondary {
  border: none;
  background-color: var(--d-secondary);
  color: var(--cloud);
}

.btn-secondary:hover {
  background-color: var(--secondary);
}

.btn-o-secondary {
  border: 1px solid var(--d-secondary);
  background: none;
  color: var(--d-secondary);
}

.btn-o-secondary:hover {
  border: none;
  background-color: var(--d-secondary);
  color: white;
}

.btn-orange {
  border: none;
  background-color: var(--pumpkin);
  color: var(--cloud);
}

.btn-orange:hover {
  background-color: var(--carrot);
}

.btn-o-orange {
  border: 1px solid var(--pumpkin);
  background: none;
  color: var(--pumpkin);
}

.btn-o-orange:hover {
  border: none;
  background-color: var(--pumpkin);
  color: white;
}

.validation {
  border: none;
  display: block;
  background-color: var(--d-green);
  color: var(--cloud);
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  transition: 1s;
}

.validation:hover {
  background-color: var(--green);
  font-weight: 700;
}

.reset {
  border: none;
  display: block;
  background-color: var(--d-danger);
  color: var(--cloud);
  font-weight: 600;
  padding: 10px;
  border-radius: 3%;
  transition: 1s;
}

.reset:hover {
  background-color: var(--danger);
  font-weight: 700;
}

.rounded {
  border-radius: 5%;
}
.rounded-10 {
  border-radius: 10%;
}

/**
    End buttons
*/

/**
    Padding
*/
.p1 {
  padding: 1px;
}

.p2 {
  padding: 2px;
}

.p3 {
  padding: 3px;
}

.p4 {
  padding: 4px;
}

.p5 {
  padding: 5px;
}
/**
    End of padding
*/

/**
    Margin
*/

.m1 {
  margin: 1px;
}

.m2 {
  margin: 2px;
}

.m3 {
  margin: 3px;
}

.m4 {
  margin: 4px;
}

.m5 {
  margin: 5px;
}

.mt1 {
  margin-top: 1px;
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mt5 {
  margin-top: 5px;
}

.mt6 {
  margin-top: 6px;
}

.mt7 {
  margin-top: 7px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}
/**
End of margin
*/

/**
    Alert
*/
.primary {
  display: block;
  font-weight: bold;
  border: 2px solid var(--primary);
  background-color: var(--d-primary);
  border-radius: 5px;
  color: var(--cloud);
  padding: 5px 20px;
}

.success {
  display: block;
  font-weight: bold;
  border: 2px solid var(--success);
  background-color: var(--d-success);
  border-radius: 5px;
  color: var(--cloud);
  padding: 5px 20px;
}

.error {
  display: block;
  font-weight: bold;
  border: 2px solid var(--danger);
  background-color: var(--d-danger);
  border-radius: 5px;
  color: var(--cloud);
  padding: 5px 20px;
}

.warning {
  display: block;
  font-weight: bold;
  border: 2px solid var(--warning);
  background-color: var(--d-warning);
  border-radius: 5px;
  color: var(--cloud);
  padding: 5px 20px;
}

.secondary-warning {
  display: block;
  font-weight: bold;
  border: 2px solid var(--orange);
  background-color: var(--pumpkin);
  border-radius: 5px;
  color: var(--cloud);
  padding: 5px 20px;
}

.amethyst {
  display: block;
  font-weight: bold;
  border: 2px solid var(--purple);
  background-color: var(--d-purple);
  border-radius: 5px;
  color: var(--cloud);
  padding: 5px 20px;
}

/** End of alert */

table {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
  }
  
  table > thead {
    font-weight: bolder;
    border-bottom-width: 1px;
    background-color: var(--cloud);
  }
  
  table > thead:hover {
    background-color: none;
  }
  
  table th,
  td {
    text-align: left;
    vertical-align: middle;
    padding: 10px;
  }
  
  table tr:hover {
    background-color: var(--light);
    color: var(--cloud);
    font-weight: bold;
    
    transition: all .5s;
  }
  
  /**
    table primary
  */
  
  table.table-primary > thead {
    background-color: var(--d-primary);
  }
  
  table.table-primary tr:hover {
    background-color: var(--primary);
    font-weight: bold;
  }
  
  
  /**
    table midnight
  */
  table.table-midnight > thead {
    background-color: var(--midnight);
    color: white;
  }
  
  table.table-midnight tr:hover {
    background-color: var(--third);
    font-weight: bold;
  }

  /** List */
ul {
    margin: 15px;
}

.numbers {
    list-style-type: decimal;
}

.uroman {
    list-style-type:upper-roman;
}

.lroman {
    list-style-type: lower-roman;
}

/** End list */

/** Inputs */
input[type=submit] {
    border: none;
    display: block;
    background-color: var(--d-green);
    color: var(--cloud);
    font-weight: 600;
    padding: 10px;
    border-radius: 3%;
    transition: 1s;
}

input[type=submit]:hover {
    background-color: var(--green);
    font-weight: 700;
}

input[type=reset]{
    border: none;
    display: block;
    background-color: var(--d-danger);
    color: var(--cloud);
    font-weight: 600;
    padding: 10px;
    border-radius: 3%;
    transition: 1s;
}

input[type=reset]:hover {
    background-color: var(--danger);
    font-weight: 700;
}

input[type=button] {
    border: none;
    display: block;
    background-color: var(--d-primary);
    color: var(--cloud);
    font-weight: 600;
    padding: 10px;
    border-radius: 3%;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19)s;
}

input[type=button]:hover {
    background-color: var(--primary);
    font-weight: 700;
}
/**
input[type=checkbox] {
    display: block;
    width: 30px;
    height: 30px;
    color: #000;
    accent-color: var(--d-green);
}

input[type=radio] {
    width: 25px;
    height: 25px;
    accent-color: var(--d-green);
}

input[type=checkbox] {
    border: 1px solid var(--cloud);
    border-radius: 5%;
}
*/

input[type=checkbox] {
  appearance: none;
  height: .35em;
  width: 2em;
  background-color: #e2e2e2;
  border-radius: 15px;
  position: relative;
  outline: none;
  cursor: pointer;
}

input[type=checkbox]:before {
  position: absolute;
  content: '';
  background-color: #757575;
  height: 1em;
  width: 1em;
  top: -0.30em;
  left: 0.2em;
  border-radius: 50%;
  transition: all .5s;
}

input[type=checkbox]:checked {
  background-color: #b3e5fc;
}

input[type=checkbox]:checked:before {
  background-color: #0d47a1;
  left: .8em;
}

input[type=date], 
input[type=datetime-local], 
input[type=email],
input[type=file],
input[type=month],
input[type=password],
input[type=number],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=time],
input[type=week] {
    border: 1px solid var(--d-secondary);
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    padding: 3px;
    color: var(--midnight);
}

input[type=range] {
    accent-color: var(--green);
    padding: 0;
    outline: none;
    opacity: .8;
    box-sizing: border-box;
    transition: opacity .2s;
    cursor: pointer;
}



/** End inputs */

/**
    Form style
*/

.card form {
    padding: 15px;
}

label {
    display: block;
}

input {
    margin: 10px 0px;
}


@media only screen and (max-width: 1080px)  {
    .card form input[type=submit] {
        display: block;
        width: 100%;
        margin: 5px;
    }
    .card form input, label {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

}

/** End Form style */

/** Card */
.card {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 0px;
    transition: 1s;
}


.card div {
    border-bottom: 1px solid var(--light);
    background-color: var(--light);
    font-weight: bold;
    padding: 5px;
}

.card-dark {
    display: block;
    border: 1px solid var(--light);
    background-color: var(--third);
    border-radius: 5px;
    padding: 0px;
    color: var(--cloud);
}

.card-dark div {
    background-color: var(--midnight);
    color: var(--cloud);
    font-weight: bold;
    padding: 5px;
}

.card-collapsed {
    display: none;
    transition: 1s;
}
/** End of card */

/** Link styles */
a {
  color: var(--d-primary);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: color 1s;
}

a:hover {
  color: var(--primary);
}

.link-1 {
  color: var(--midnight);
  transition: all 1s;
}

.link-1:hover {
  color: var(--third);
  text-decoration-line: underline;;
}

.link-2 {
  color: var(--d-green);
  text-decoration: none;
}

.link-2:hover {
  color: var(--green);
  text-decoration-line: underline;
}

.link-3 {
  color: var(--d-secondary);
}

.link-3:hover {
  color: var(--secondary);
  text-decoration-line: underline;
}
/** End link */